<div id="form-div">
  <form action="/user/edit" method="POST">
    <table id="edit-table">
      <tr>
        <td id="first-col"><label>Login</label></td>
        <td><label><%=user.login%></label></td>
      </tr>
      <tr>
        <td id="first-col"><label>Password</label></td>
        <td>
          <input type="password" name="password" value="<%= user.password%>" />
        </td>
      </tr>
      <tr>
        <td id="first-col"><label>First Name</label></td>
        <td>
          <input type="text" name="firstname" value="<%= user.firstname%>" />
        </td>
      </tr>
      <tr>
        <td id="first-col"><label>Last Name</label></td>
        <td>
          <input type="text" name="lastname" value="<%= user.lastname%>" />
        </td>
      </tr>
      <tr>
        <td id="first-col"><label>Gender</label></td>
        <td>
          <select name="gender">
            <% if(user.gender === "M"){ %>
            <option value="M" selected>Male</option>
            <%}else{%>
            <option value="M">Male</option>

            <%}%> <% if(user.gender === "F"){ %>
            <option value="F" selected>Female</option>
            <%}else{%>
            <option value="F">Female</option>
            <%}%>
          </select>
        </td>
      </tr>
      <tr>
        <td id="first-col"><label>Email</label></td>
        <td><input type="text" name="email" value="<%= user.email%>" /></td>
      </tr>
      <tr>
        <td id="first-col"><label>Phone</label></td>
        <td><input type="text" name="phone" value="<%= user.phone%>" /></td>
      </tr>
      <tr>
        <td id="first-col"><label>Choose Your Skill</label></td>
        <td>
          <% if(skills != null && skills.includes('skill_1')){%>
          <input type="checkbox" name="skills" value="skill_1" checked />Skill 1
          <%} else{ %>
          <input type="checkbox" name="skills" value="skill_1" />Skill 1 <%}%>
          <% if(skills != null && skills.includes('skill_2')){%>
          <input type="checkbox" name="skills" value="skill_2" checked />Skill 2
          <%} else{ %>
          <input type="checkbox" name="skills" value="skill_2" />Skill 2 <%}%>
          <% if(skills != null && skills.includes('skill_3')){%>
          <input type="checkbox" name="skills" value="skill_3" checked />Skill 3
          <%} else{ %>
          <input type="checkbox" name="skills" value="skill_3" />Skill 3 <%}%>
          <% if(skills != null && skills.includes('skill_4')){%>
          <input type="checkbox" name="skills" value="skill_4" checked />Skill 4
          <%} else{ %>
          <input type="checkbox" name="skills" value="skill_4" />Skill 4 <%}%>
          <% if(skills != null && skills.includes('skill_5')){%>
          <input type="checkbox" name="skills" value="skill_5" checked />Skill 5
          <%} else{ %>
          <input type="checkbox" name="skills" value="skill_5" />Skill 5 <%}%>
        </td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center">
          <button type="submit">Save</button>
          <a href="user/edit_cancel"><button>Cancel</button></a>
        </td>
      </tr>
    </table>
  </form>
</div>
